# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarised

# **Objectives**

#
- List Popular Languages that Data Scientists Use
- Commonly used Data Science Libraries
- Data Science Tools

## Some of the popular languages that Data Scientists use are as follow:
1. R
2. SPSS
3. PYTHON
4. SQL

## Some of the commonly used Data Science Libraries are:
1. NumPy
2. SciPy
3. TensorFlow
4. Matplotlib

|Data Science Tools|
--------------------
|Python|
|R|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
11+3

14

In [13]:
12*4

48

In [15]:
12/3

4.0

In [17]:
10-2

8

### This a simple arithmetic expression to mutiply then add integers (3*4) + 5

(3*4)+5

In [21]:
(3*4)+5

17

In [27]:
#This is a simple arithmatic expression to multiply then add integers

In [29]:
(3*4)+5

17

In [31]:
#This will convert 200 minutes to hours by diving by 60

In [33]:
200/60

3.3333333333333335

## Author
Eshita